.about-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /*background-image: url('../img/Picture.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
/*
.about-section::before {
    content:'';
	position: absolute;
    top: 50px;
    height: 93vh;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}*/

.about-section span {
    font-size: 25vw;
    position: relative;
    color: black;

}

.about-section h1 {
    position: relative;
    margin-bottom: 20px;
}

.contactme {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: whitesmoke;
}

.contactme:hover {
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}

@media (max-width: 740px) {
    .about-section {
        height: 50vh;
    }

    .about-section::before {
        height: 50vh;
    }

}



