*{
    padding: 0;
    margin: 0;
}

.contenedor-principal {
    background-color: whitesmoke;
}

.about-section{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    color: whitesmoke;
    /*background-color: black;*/
    background-image: url('../img/Picture.png');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}



.about-section::after{
    content: '';
    position: absolute;
    height: 100%;
    /*height: calc(100vh - 50px);*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
   
    top: 0;
}

.iconoWhatsappAbout {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 64px;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;
}

.martinCruz {
    font-size: 120px;
    z-index: 1;
}

.about {
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
}

.contactme {
    background-color: rgba(32, 32, 32, 0.84);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 15px;
    color: whitesmoke;
    font-weight: 600;
    z-index: 1;
}

.contactme:hover {
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}

@media (max-width: 740px) {
    .about-section {
        height: calc(50vh - 50px);
    }

    .about-section::after {
        height: 50vh;
    }

    .about-section span {
        font-size: 50px;
        position: relative;
    }

    .martinCruz {
        font-size: 60px;
        z-index: 1;
    }
    
    
    .about {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .iconoWhatsappAbout {
        position: fixed;
        top: 40%;
        left: 30px;
        width: 45px;
    }

    .martinCruz {
        display: none;
    }

    .about-section {
        background-image: none;
        background-size: cover;
        background-position: center center;
        -webkit-animation: change-background 10s ease-in-out infinite;
        -moz-animation: change-background 10s ease-in-out infinite;
        animation: change-background 10s ease-in-out infinite;
    }
    
    @-webkit-keyframes change-background {
        0% {
            background-image: url('../img/Picture.png');
        }
        50% {
            background-image: url('../img/aboutpic1.jpg');
        }
        100% {
            background-image: url('../img/aboutpic2.jpg');
        }
    }
    
    @-moz-keyframes change-background {
        0% {
            background-image: url('../img/Picture.png');
        }
        50% {
            background-image: url('../img/aboutpic1.jpg');
        }
        100% {
            background-image: url('../img/aboutpic2.jpg');
        }
    }
    
    @keyframes change-background {
        0% {
            background-image: url('../img/Picture.png');
        }
        50% {
            background-image: url('../img/aboutpic1.jpg');
        }
        100% {
            background-image: url('../img/aboutpic2.jpg');
        }
    }

}

@media (min-width: 741px) && (max-width: 915px) {
    .iconoWhatsappAbout {
        position: fixed;
        top: 40%;
        left: 30px;
        width: 45px;
    } 
}




