.about-section{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('../img/Picture.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.about-section::before {
    content:'';
	position: absolute;
    top: 7vh;
    height: 90vh;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4)
}

.about-section span {
    font-size: 8rem;
    position: relative;
}

.about-section h1 {
    position: relative;
    margin-bottom: 20px;
}

.about-section h3 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-section .texto {
    position: relative;
    margin-bottom: 5px;
}

.about-section ul {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.about-section ul li {
    display: flex;
    justify-content: space-evenly;
    color: rgb(230, 226, 12);
    font-size:x-large;
}