.Titulo {
  font-size: 50px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.contenedor-principal {
  border-top: 1px solid rgb(197, 196, 196);
  border-radius: 15px;
}

.contenedor-divisor {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 40px;
}

.formulario {
  width: 50%;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  padding: 15px;
}

.nombre, .email {
  width: 80%;
  border: 1px solid rgb(179, 179, 179);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
}

.enviar {
  width: fit-content;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.884);
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
}

.mensaje {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: whitesmoke;
}

.enviar:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}

.formulario textarea {
  height: 15vh;
}

.nombre, .email{
  padding: 10px;
}

.mapa {
  border: solid 1px rgb(153, 153, 153);
  border-radius: 15px;
  width: 50%;
  margin-right: 5vw;
}

iframe {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.error {
  color: red;
}

@media (max-width:821px) {
    .Titulo {
      font-size: 3rem;
    }

    .contenedor-divisor {
      flex-direction: column;
    }

    .formulario {
      width: 100%;
      
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 2vh;
    }

    .mapa {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    iframe {
      border-radius: 15px;
      height: fit-content;
      width: 100%;
    }

    .formulario label {
      margin-top: 0;
    }

    .contenedor-principal {
      border-top: 1px solid rgb(192, 192, 192);
      border-radius: 15px;
      margin-top: 5px;
    }
    
}