.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.884);
    color: whitesmoke;
}

.dataDiv p:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataDiv p:nth-child(3) {
    margin-top: 10px;
}

.footerIcon {
    width: 24px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.footerIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.dataDiv p:first-child {
    font-weight: 600;
    font-size: 20px;
}

.legalDiv {
    display: flex;
    background-color: black;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.legalDiv a {
    padding-right: 10px;
}

@media (max-width:740px) {

    .footerIcon {
        width: 20px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 100%;
    }

    .legalDiv {
        flex-direction: column;
        height: 100%;
    }
}