.footerSection {
    height: 80px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.dataDiv {
    display: flex;
    margin-right: 30px;
}

.iconDiv {
    display: flex;  
}

.footerData {
    margin-left: 10px;
    border-right: 1px solid whitesmoke;
    padding-right: 10px;
}

.footerIcon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-left: 20px;
}

@media (max-width:740px) {
    .dataDiv {
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .footerData {
        margin-left: 0px;
        border-right: 1px solid whitesmoke;
        padding-right: 10px;
        display: flex;
        justify-content: center;
    }

    .footerIcon {
        padding: 0px;
        margin-left: 0;
    }

    .iconDiv {
        width: 100%;
        justify-content: space-between;
    }

    .footerSection {
        padding: 10PX;
    }
}