.profileDescripcion {
    display: flex;
    background-color: whitesmoke;
}

.profileDescripcion div {
    width: 50%;
}

.profilePictureDiv img{
    border: 1px rgb(187, 187, 187) solid;
    background-color: whitesmoke;
    padding: 10px;
}

.profilePictureDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutTitle {
    margin-bottom: 15vh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid gray;
}

.pic1 {
    width: 350px;
    transform: rotate(-10deg); 
}

.pic2 {
    width: 200px;
    transform: rotate(-10deg);
    position: absolute;
    top: 300px;
    /*right: 150px;*/ 
    left: 45%;
}

.pic3 {
    width: 250px;
    transform: rotate(10deg);
    margin-top: 80px;
}

.textDescriptionDiv {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 10vw;
}

.textabout {
    text-align: center;
    border-radius: 15px;
}

.servicesTitle {
    padding-top: 10px;
    margin-bottom: 20px;
}

.texto {
    position: relative;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.skillsDiv {
    background-color: whitesmoke;
}

.softSkillsDiv {
    display: flex;
    margin-right: 0px;
    margin-bottom: 15px;
}

/*.ulSoftSkills {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    list-style: none;
}*/

.ulSoftSkills {
   display: flex; 
   justify-content: center;
   align-items: center;
}

.ulSoftSkills li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size:x-large;
    margin-bottom: 5px;
    padding: 5px;
    border-right: 1px rgb(187, 187, 187) solid;
    border-radius: 5px;
    /*box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.884), -1em 0 .4em rgb(211, 209, 209);*/
    box-shadow: inset 5em 1em rgb(233, 233, 233), 3px 3px whitesmoke;
    width: 300px;
    height: 300px;
}

.ulTechnologies {
    display: flex;
    justify-content:space-around;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.884);
    width: 100%;
}

.ulSoftSkills li img {
    height: 80px;
    width: 80px;
    margin: 15px;
}

.liTechnologies img{
    height: 60px;
    width: 60px;
}

.liTechnologies {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.liContainer {
    margin-right: 20px;
}

.services {
    text-align: left;
    margin-top: 10px;
    font-size: large;
}

@media (max-width:915px) {
    .textabout ul li {
    /*font-size: medium;*/
    margin-left: 1vw;
    margin-right: 1vw;
    }    

    
    .softSkillsDiv {
        margin-bottom: 0px;
    }
    /*.ulSoftSkills li {
        width: 45vw;
        height: 170px;
    }*/
    .profileDescripcion {
        flex-direction: column;
    }

    .profileDescripcion div {
        width: 100%;
    }
    /*
    .profilePictureDiv img{
        width: 200px;
    }
*/

.profilePictureDiv img{
    border: 1px rgb(187, 187, 187) solid;
    background-color: whitesmoke;
    padding: 10px;
}

.profilePictureDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutTitle {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.pic1 {
    width: 300px;
    transform: rotate(-10deg); 
}

.pic2 {
    width: 180px;
    transform: rotate(-10deg);
    position: absolute;
    top: 250px;
    right: 40px; 
}

.pic3 {
    width: 210px;
    transform: rotate(10deg);
    margin-top: 80px;
}

.textDescriptionDiv {
    padding-right: 10px;
}

.texto {
    padding-bottom: 0px;
}

    .profileDescripcion {
        border-bottom: 1px solid rgb(172, 172, 172);
        border-radius: 15px;
    }

    .skillsDiv {
        border-top: 1px solid rgb(192, 192, 192);
        border-radius: 15px;
        margin-top: 5px;
    }

    .services {
        /*font-size:small;*/
    }

    .ulSoftSkills {
        flex-direction: column;
        border-bottom: 1px solid rgb(172, 172, 172);
        border-radius: 15px;
     }

     .ulSoftSkills li {
        width: 90vw;
        height: 270px;
    }

    .softSkillsDiv {
        flex-direction: column;
        margin-right: 0;
    }
    
    
}
/*
@media (max-width:915px) {
    .ulSoftSkills li {
        width: 90vw;
        height: 250px;
    }

    .softSkillsDiv {
        flex-direction: column;
        margin-right: 0;
    }
}*/